@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "../../variables/variables.scss";

.footerContainer {
    padding-top: 50px;
    padding-bottom: 30px;
}

.footerContainer img {
    color: $White;
}

.footerContainer span {
    color: $White;
    margin-left: -109px;
    font-size: 20px;
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
}

.footerContainer .social {
    background-color: none;
    background: none;
    border: none;
    color: #fff;
    outline: none;
    &:hover {
        color: $LimeGreen;
    }
}

.footerContainer .social:hover {
    color: $LimeGreen;
}

.footerContainer a {
    text-decoration: none;
    color: $White;
    font-family: "Public Sans", sans-serif;
    &:hover {
        color: $LimeGreen;
    }
}

.footerContainer .button {
    background: var(--gradient-colors);
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: $White;
    font-family: "Public Sans", sans-serif;
    &:hover {
        background: var(--gradient-colors-hover);
    }
}

.footerContainer .copyright {
    color: $GrayishBlue;
    font-family: "Public Sans", sans-serif;
}

@media screen and (min-width: 576px) {
    .footerContainer {
        padding-top: 110px;
        padding-bottom: 65px;
    }
}
