@import "../variables/variables.scss";

.navBackground {
    background-color: $White;
}

.headerBackground {
    background-color: $VeryLightGray;
}

.mainBackground {
    background-color: $LightGrayishBlue;
}

.secondMainBackground {
    background-color: $White;
}

.footerBackground {
    background-color: $DarkBlue;
}